command -v uv >/dev/null || {
  echo "uv is not installed"
  exit 1
}

VIRTUAL_ENV=".venv"
layout python

# if pyproject.toml doesnt exist, create it and add ruff and pytest as dev dependencies
if [ ! -f pyproject.toml ]; then
  uv init
  uv add ruff pytest --dev
fi

uv sync --quiet
dotenv_if_exists .env